.companion {
  background-color: $special-blue;

  .container {
    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content min-content;

      .companion__list {
        grid-row: 1/-1;
        grid-column: 2/3;
      }
    }
  }
}

.companion__title {
  color: $orange;
}

.companion__description {
  color: $white;

  &:nth-child(3) {
    font-weight: 700;
  }
}

.companion__item {
  background-color: $white;
  margin-bottom: 10px;

  @media (min-width: $table-width) {
    width: 285px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 10px;
  }
}

.companion__person-name {
  color: $blue-light;
  text-align: center;
}

.companion__hashtag-link {
  font-weight: 400;
  line-height: 18px;
  color: $special-grey;
  text-align: center;
  margin-right: 5px;
}

.companion__text-wrapper {
  width: 217px;

  @media (min-width: $table-width) {
    width: 430px;
  }
}

.companion__image-wrapper {
  width: 100%;
  height: 270px;
  background-color: $black;
}

.companion__info-wrapper {
  text-align: center;
}

.companion__hashtag-list {
  width: 188px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.companion__link {
  background-color: $yellow;
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 280px;
  }
}

.companion__list {
  @media (min-width: $table-width) {
    display: flex;
    justify-content: space-between;
  }
}
