.direction {
  background-color: $grey;

  .container {
    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content min-content;

      .direction__list {
        grid-column: 1/2;
        grid-row: 1/-1;
      }
    }
  }
}

.direction__title {
  color: $orange;
}

.direction__description {
  color: $special-grey;
}

.direction__country-description {
  font-weight: 500;
  line-height: 20px;
  color: $special-grey;
  opacity: 0.3;
}

.direction__counter {
  font-weight: 500;
  line-height: 20px;
  color: $blue;
  opacity: 0.3;
  margin: 0;
}

.direction__item {
  height: 190px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);

  @media (min-width: $table-width) {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
    height: 140px;
  }

  @media (min-width: $desktop-width) {
    width: 560px;
  }
}

.direction__country-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: $white;

  @media (min-width: $table-width) {
    display: block;
    width: 100%;
  }
}

.direction__link {
  width: 100%;
  background-color: $yellow;

  @media (min-width: $desktop-width) {
    width: 275px;
  }
}

.direction__image-wrapper {
  background-color: $black;

  @media (min-width: $table-width) {
    width: 187px;
    height: 140px;
  }
}
