.direction {
  background: $grey;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  z-index: 5;
  margin-top: -37px;

  .container {
    padding-top: 106px;
    padding-bottom: 33px;
  }
}

.direction__wrapper {
  margin-left: 25px;
  margin-bottom: 62px;
}

.direction__title {
  color: $orange;
  margin-bottom: 19px;
}

.direction__description {
  color: $special-grey;
  margin: 0;
}

.direction__country-description {
  font-weight: 500;
  color: $special-grey;
  opacity: 0.3;
  line-height: 18px;
  display: inline-block;
}

.direction__counter {
  font-weight: 500;
  line-height: 20px;
  color: $blue;
  opacity: 0.3;
  margin: 0;
  position: relative;
}

.direction__counter-image {
  width: 12px;
  height: 12px;
  position: relative;
  left: -6px;
  top: 2px;
}

.direction__text-wrapper {
  display: flex;
  flex-direction: column;
}

.direction__list {
  margin-bottom: 24px;
}

.direction__item {
  height: 190px;
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 9px;

  &:nth-child(1) {
    .direction__country-wrapper {
      &::before {
        background: url("../../../img/thailand-flag.png") 0 0 no-repeat;
        background-size: contain;
      }
    }
  }

  &:nth-child(2) {
    .direction__country-wrapper {
      &::before {
        background: url("../../../img/france-flag.png") 0 0 no-repeat;
        background-size: contain;
      }
    }
  }

  &:nth-child(3) {
    .direction__text-wrapper {
      width: 130px;
    }

    .direction__counter {
      margin-right: 9px;
    }

    .direction__country-wrapper {
      &::before {
        background: url("../../../img/czech-flag.png") 0 0 no-repeat;
        background-size: contain;
      }
    }
  }
}

.direction__country-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: $white;
  height: 64px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 24px;
    top: -14px;
    left: 25px;
  }
}

.direction__link {
  width: calc(100% - 21px);
  background-color: $yellow;
  padding-top: 23px;
  padding-bottom: 22px;
  padding-right: 21px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.direction__link-text {
  margin-left: 23px;
}

.direction__link-image {
  margin-top: 2px;
}

.direction__image-wrapper {
  background-color: $white;
  height: 110px;
}

@media (min-resolution: 2dppx) {
  .direction__item {
    &:nth-child(1) {
      .direction__country-wrapper {
        &::before {
          background: url("../../../img/thailand-flag@2x.png") 0 0 no-repeat;
          background-size: contain;
        }
      }
    }

    &:nth-child(2) {
      .direction__country-wrapper {
        &::before {
          background: url("../../../img/france-flag@2x.png") 0 0 no-repeat;
          background-size: contain;
        }
      }
    }

    &:nth-child(3) {
      .direction__country-wrapper {
        &::before {
          background: url("../../../img/czech-flag@2x.png") 0 0 no-repeat;
          background-size: contain;
        }
      }
    }
  }
}

@media (max-width: $table-width - 1px) {
  .direction__country-wrapper {
    border-radius: 10px;
    margin-top: -10px;
  }

  .direction__image-wrapper {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}

@media (min-width: $table-width) {
  .direction {
    margin-top: -50px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background:
      url("../../../img/rectangle-direction.svg") 40px 456px no-repeat,
      $grey url("../../../img/flags-back.png") 91.9% 130px no-repeat;

    .container {
      padding-top: 118px;
      padding-bottom: 80px;
      padding-left: 75px;
      padding-right: 75px;
    }
  }

  .direction__wrapper {
    margin-left: -2px;
  }

  .direction__title {
    margin-bottom: 59px;
  }

  .direction__description {
    margin-left: 2px;
    margin-bottom: 107px;
  }

  .direction__country-name {
    margin-bottom: 5px;
  }

  .direction__country-description {
    font-size: 20px;
    line-height: 20px;
  }

  .direction__counter {
    font-size: 20px;
    margin-left: 8px;
  }

  .direction__counter-image {
    width: 20px;
    height: 22px;
    left: -10px;
    top: 5px;
  }

  .direction__text-wrapper {
    margin-bottom: 10px;
  }

  .direction__list {
    margin-bottom: 46px;
  }

  .direction__item {
    margin-bottom: 11px;
    height: 140px;
    width: 616px;
    position: relative;

    &:nth-child(2) {
      margin-bottom: 10px;
    }

    &:nth-child(3) {
      .direction__text-wrapper {
        width: 140px;
        margin-bottom: -10px;
      }
    }
  }

  .direction__country-wrapper {
    display: block;
    width: 65%;
    height: 113px;
    padding-top: 27px;
    padding-left: 30px;
    padding-right: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    z-index: 1;

    &::before {
      width: 70px;
      height: 47px;
      top: 17px;
      left: auto;
      right: -36px;
      border-radius: 5px;
    }
  }

  .direction__link {
    width: calc(100% - 30px);
    padding-top: 28px;
    padding-bottom: 30px;
    border-radius: 20px;
    padding-right: 30px;
  }

  .direction__link-image {
    margin-top: 7px;
  }

  .direction__link-text {
    margin-left: 32px;
  }

  .direction__image-wrapper {
    width: 559px;
    height: 140px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    z-index: 0;
    right: 0;
  }

  .direction__county-image {
    height: 140px;
  }

  @media (min-resolution: 2dppx) {
    .direction {
      background:
        url("../../../img/rectangle-direction.svg") 40px 456px no-repeat,
        $grey url("../../../img/flags-back@2x.png") 91.9% 130px no-repeat;
    }
  }
}

@media (min-width: $desktop-width) {
  .direction {
    border-bottom-left-radius: 56px;
    border-bottom-right-radius: 56px;
    background:
      url("../../../img/rectangle-direction.svg") 60px 140px no-repeat,
      $grey url("../../../img/flags-back.png") 94.9% 138px no-repeat;

    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 371px 80px;
      padding-top: 211px;
      padding-bottom: 138px;
      padding-left: 130px;
    }
  }

  .direction__description {
    margin-left: 1px;
  }

  .direction__counter {
    margin-left: 12px;
  }

  .direction__counter-image {
    width: 20px;
    height: 22px;
    left: -10px;
    top: 5px;
  }

  .direction__text-wrapper {
    margin-bottom: 16px;
  }

  .direction__list {
    grid-column: 1/2;
    grid-row: 1/-1;
    margin-right: 173px;
  }

  .direction__item {
    width: 560px;

    &:nth-child(3) {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        z-index: 1;
        width: 560px;
        height: 80px;
        bottom: 0;
        background-image: linear-gradient(to bottom, transparent, $grey 60px);
      }

      .direction__text-wrapper {
        width: 250px;
        margin-bottom: 16px;
      }
    }
  }

  .direction__country-wrapper {
    width: 344px;
    padding-top: 21px;

    &::before {
      top: 23px;
    }
  }

  .direction__link {
    width: 241px;
    padding-top: 27px;
    padding-bottom: 11px;
    padding-right: 34px;

    &:hover,
    &:focus {
      background-color: $yellow-dark;
    }

    &:active {
      .direction__link-text,
      .direction__link-image {
        opacity: 0.3;
      }
    }
  }

  .direction__image-wrapper {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  @media (min-resolution: 2dppx) {
    .direction {
      background:
        url("../../../img/rectangle-direction.svg") 60px 140px no-repeat,
        $grey url("../../../img/flags-back@2x.png") 94.9% 138px no-repeat;
    }
  }
}
