.feedback {
  background-color: $special-blue;
}

.feedback__title {
  color: $orange;
  margin: 0 auto;
  text-align: center;
}

.feedback__description {
  color: $white;
  text-align: center;
  margin: 0 auto;

  &:nth-of-type(1) {
    width: 170px;
  }

  &:nth-of-type(2) {
    width: 210px;
  }

  .feedback__description-link {
    color: $yellow-dark;
    text-decoration: underline;
  }

  @media (min-width: $table-width) {
    &:nth-of-type(1) {
      width: 580px;
    }

    &:nth-of-type(2) {
      width: 620px;
    }
  }
}

.feedback__text {
  color: $white;
  text-align: center;
  letter-spacing: 0.01em;
  margin: 0;
}

.feedback__link {
  color: $yellow;
  font-weight: 700;
  margin-right: 10px;
}

.feedback__email-link {
  text-transform: uppercase;
}

.feedback__email {
  width: 80%;
}

.feedback__link-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: center;
  }
}

.feedback__text-wrapper {
  @media (min-width: $table-width) {
    display: flex;
    width: 400px;
    margin: 0 auto;
    justify-content: center;
  }
}
