.map {
  height: 536px;
  background-color: $black;
  position: relative;
  z-index: 1;
  margin-top: -34px;

  .container {
    background-color: $yellow;
    padding-left: 25px;
    padding-right: 30px;
    padding-top: 65px;
    padding-bottom: 35px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}

.map__address {
  text-transform: uppercase;
  color: $blue-light;
  font-weight: 700;
  width: 145px;
  margin: 0;
}

.map__link {
  width: calc(100% - 19px);
  padding-top: 20px;
  padding-bottom: 18px;
  border: 3px solid $special-blue;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding-right: 19px;
}

.map__link-text {
  margin-left: 20px;
}

.map-image {
  margin-top: -120px;
}

.map-wrapper {
  display: flex;
  margin-bottom: 33px;
}

.map__image-wrapper {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $super-bark-blue;
  margin-right: 15px;
}

.map__image-mark {
  width: 16px;
  height: 21px;
  position: relative;
  top: 12px;
  left: 14px;
}

@media (min-width: $table-width) {
  .map {
    height: 700px;
    margin-top: -55px;

    .container {
      padding-left: 75px;
      padding-right: 81px;
      padding-top: 120px;
      padding-bottom: 84px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }
  }

  .map__address {
    margin-bottom: 62px;
    width: 430px;
  }

  .map__link {
    width: calc(100% - 30px);
    padding-top: 23px;
    padding-bottom: 27px;
    border-radius: 20px;
    padding-right: 30px;
  }

  .map__link-image {
    margin-top: 7px;
  }

  .map__link-text {
    margin-left: 34px;
  }

  .map-image {
    margin-top: -120px;
  }

  .map-wrapper {
    margin-bottom: 0;
  }

  .map__image-wrapper {
    width: 68px;
    height: 68px;
    background-color: $super-bark-blue;
    margin-right: 25px;
    position: relative;
    top: -17px;
  }

  .map__image-mark {
    width: 26px;
    height: 31px;
    position: relative;
    top: 17px;
    left: 21px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    height: 632px;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding-left: 311px;
      padding-right: 135px;
      padding-top: 130px;
      padding-bottom: 24px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }
  }

  .map__wrapper {
    padding: 0 60px;
    display: flex;
  }

  .map__link {
    width: 288px;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    top: -15px;
  }

  .map__image-wrapper {
    width: 90px;
    height: 90px;
    margin-right: 2px;
    top: -27px;
    left: -28px;
  }

  .map__image-mark {
    width: 32px;
    height: 42px;
    top: 24px;
    left: 29px;
  }
}
