.map {
  background: url("../../img/background-map.png") no-repeat center center;
}

.map .container {
  background-color: $yellow;
}

.map__address {
  text-transform: uppercase;
  color: $blue-light;
  font-weight: 700;
}
