.map {
  height: 500px;
  background-color: $black;
}

.map__wrapper {
  background-color: $yellow;
}


@media (max-width: $table-width - 1px) {
  .map__wrapper {
    padding: 0 25px;
  }
}

@media (min-width: $table-width) {
  .map__wrapper {
    padding: 0 40px;
  }
}

@media (min-width: $desktop-width) {
  .map__wrapper {
    padding: 0 60px;
    display: flex;
  }
}

.map__address {
  text-transform: uppercase;
  color: $blue-light;
  font-weight: 700;
  width: 145px;
}


@media (min-width: $table-width) {
  .map__address {
    width: 430px;
  }
}

.map__link {
  width: 100%;
  border: 1px solid $black;
}

@media (min-width: $desktop-width) {
  .map__link {
    width: 325px;
  }
}
