.service {
  background-color: $special-blue;
}

.service__title {
  color: $orange;
}

.service__description {
  color: $white;

  &:nth-child(3) {
    font-weight: 700;
  }
}


@media (max-width: $table-width - 1px) {
  .service__link,
  .service__image {
    display: none;
  }
}

.service-wrapper {
  width: 210px;
}


@media (min-width: $table-width) {
  .service-wrapper {
    width: 310px;
  }
}

@media (min-width: $desktop-width) {
  .service-wrapper {
    width: 620px;
  }
}
