.service {
  background-color: $special-blue;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  z-index: 6;
  margin-top: -1px;

  .container {
    padding: 0 49px;
    padding-top: 33px;
    padding-bottom: 82px;
  }
}

.service-wrapper {
  width: 211px;
}

.service__title {
  color: $orange;
  margin-bottom: 19px;
}

.service__description {
  color: $white;
  margin: 0;

  &:nth-child(2) {
    margin-bottom: 19px;
  }

  &:nth-child(3) {
    font-weight: 700;
  }

  .service__description-text2 {
    display: none;
  }
}

.service__link {
  width: 244px;
  background-color: $yellow;
  padding-top: 26px;
  padding-bottom: 30px;
  padding-left: 32px;
  border-radius: 20px;
}

@media (max-width: $table-width - 1px) {
  .service__link,
  .service__image {
    display: none;
  }
}

@media (min-width: $table-width) {
  .service {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;

    .container {
      padding-top: 37px;
      padding-left: 74px;
      padding-bottom: 89px;
    }
  }

  .service-wrapper {
    width: 301px;
  }

  .service__title {
    margin-bottom: 42px;
  }

  .service__description {
    margin-left: 1px;
    margin-bottom: 55px;

    &:nth-child(2) {
      margin-bottom: 31px;
    }

    &:nth-child(3) {
      font-weight: 700;
      font-size: 21px;
      line-height: 25px;
    }

    .service__description-text1 {
      display: none;
    }

    .service__description-text2 {
      display: inline;
    }
  }
}

@media (min-width: $desktop-width) {
  .service {
    border-bottom-left-radius: 56px;
    border-bottom-right-radius: 56px;

    .container {
      padding-left: 130px;
      padding-bottom: 163px;
    }
  }

  .service-wrapper {
    width: 620px;
  }

  .service__title {
    margin-bottom: 60px;
  }

  .service__description {
    &:nth-child(2) {
      margin-bottom: 39px;
    }

    &:nth-child(3) {
      width: 440px;
      margin-bottom: 87px;
    }
  }

  .service__link {
    width: 241px;
    margin-left: 1px;
    padding-left: 33px;
  }
}
