.filter-country {
  background: linear-gradient(to bottom, transparent 40px, $grey 40px, $special-grey-light 100%);
  margin-top: -55px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;

  .container {
    padding-top: 55px;
    padding-bottom: 17px;
  }

  &--open {
    position: absolute;
    z-index: 5;
    width: 100%;

    .filter-country__list-wrapper {
      display: block;
    }

    .filter-country__button {
      display: flex;
    }

    .filter-country__group-list {
      display: block;
      width: 220px;
      margin-left: auto;
      margin-right: auto;
    }

    .filter-country__wrapper {
      flex-wrap: wrap;
    }

    .filter-country__title {
      margin-bottom: 33px;
      width: 84%;
    }

    .filter-country__toggle-point1 {
      display: none;
    }

    .filter-country__toggle-close {
      display: inline;
    }

    .container {
      padding-bottom: 28px;
    }
  }
}

.filter-country__title {
  color: $special-blue;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
}

.filter-country__title-image {
  width: 16px;
  height: 10px;
  margin-right: 10px;
}

.filter-country__wrapper {
  display: flex;
  justify-content: space-between;
}

.filter-country__toggle {
  border: none;
  width: 17px;
  height: 17px;
  margin-right: 5px;
  padding: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.filter-country__toggle-point1 {
  display: inline;
  width: 17px;
  height: 3px;
}

.filter-country__toggle-point2 {
  display: none;
}

.filter-country__toggle-close {
  width: 16px;
  height: 16px;
  display: none;
}

.filter-country__toggle-text {
  display: none;
}

.filter-country__list-wrapper {
  display: none;
  width: 100%;
}

.filter-country__group-list {
  display: none;
  margin-bottom: 14px;
}

.filter-country__group-item {
  font-style: 16px;
  line-height: 18px;
  color: $special-blue;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.3;
  margin-bottom: 9px;

  &:nth-child(1) {
    opacity: 1;
  }
}

.filter-country__letter-list {
  display: table;
  border-collapse: collapse;
  margin: 0 auto;

  &:nth-child(1) {
    .filter-country__letter-item {
      border-top: 1px solid $basic-grey-normal;
    }
  }

  &:nth-child(5) {
    margin-bottom: 10px;
  }
}

.filter-country__letter-item {
  width: 43px;
  height: 40px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background-color: $white;
  color: $blue-light;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  border-left: 1px solid $basic-grey-normal;
  border-right: 1px solid $basic-grey-normal;
  border-bottom: 1px solid $basic-grey-normal;
}

.filter-country__list {
  display: none;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  &:nth-child(6) {
    display: block;
  }
}

.filter-country__link {
  font-size: 16px;
  line-height: 22px;
  color: $special-grey;
  font-weight: 400;
  vertical-align: top;
}

.filter-country__button {
  width: 100%;
  display: none;
  border: none;
  font-family: "Blogger Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: $special-blue;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-top: 12px;
  padding-bottom: 8px;
  border-radius: 20px;
  background-color: $grey-normal;
  justify-content: center;
  align-items: center;
}

.filter-country__button-close {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

@media (min-width: $table-width) {
  .filter-country {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin-bottom: 21px;

    .container {
      padding-top: 97px;
      padding-left: 72px;
      padding-right: 64px;
      padding-bottom: 36px;
    }

    &--open {
      .filter-country__group-list {
        display: flex;
        order: -1;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 50px;
      }

      .filter-country__toggle-text {
        &:nth-child(1) {
          display: none;
        }

        &:nth-child(2) {
          display: block;
          margin-right: 62px;
        }
      }

      .filter-country__toggle-point2 {
        display: none;
      }

      .filter-country__toggle {
        width: 180px;
      }

      .filter-country__list-wrapper {
        display: grid;
        grid-template-columns: 354px 1fr;
        grid-template-rows: 85px 82px 82px 84px 83px;
        margin-bottom: 47px;
      }

      .filter-country__letter-list {
        grid-column: 1/2;

        &:nth-child(1) {
          grid-row: 1/2;
        }

        &:nth-child(2) {
          grid-row: 2/3;
        }

        &:nth-child(3) {
          grid-row: 3/4;
        }

        &:nth-child(4) {
          grid-row: 4/5;
        }

        &:nth-child(5) {
          grid-row: 5/6;
        }
      }

      .filter-country__list {
        grid-column: 2/3;
        grid-row: 1/-1;
      }

      .container {
        padding-bottom: 78px;
      }
    }
  }

  .filter-country__title {
    display: none;
  }

  .filter-country__toggle {
    display: flex;
    width: 190px;
    text-align: left;
    padding: 0;
    font-family: "Blogger Sans", "Arial", sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: $special-blue;
    font-weight: 700;
    background-color: transparent;
    margin-top: -1px;
  }

  .filter-country__toggle-text {
    &:nth-child(1) {
      display: block;
      margin-right: 26px;
    }
  }

  .filter-country__toggle-point1 {
    display: none;
  }

  .filter-country__toggle-point2 {
    display: inline;
    width: 30px;
    height: 6px;
  }

  .filter-country__toggle-close {
    width: 22px;
    height: 22px;
    display: none;
  }

  .filter-country__group-list {
    display: flex;
    order: -1;
    font-size: 20px;
    line-height: 20px;
    width: 370px;
  }

  .filter-country__group-item {
    margin-right: 29px;

    &:last-child {
      margin-right: 0;
    }
  }

  .filter-country__letter-list {
    margin-left: -5px;
    margin-right: 0;

    &:nth-child(1) {
      .filter-country__letter-item {
        border: none;
      }
    }

    &:nth-child(5) {
      .filter-country__letter-item {
        padding-bottom: 0;
      }
    }
  }

  .filter-country__letter-item {
    width: 50px;
    height: 50px;
    border: none;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    background-color: transparent;
    text-align: center;
    padding-right: 27px;

    &:last-child {
      padding-right: 0;
    }
  }

  .filter-country__list {
    width: 200px;
    margin: 0;
    margin-left: 90px;
  }

  .filter-country__item {
    line-height: 30px;
  }

  .filter-country__link {
    font-size: 20px;
    line-height: 30px;
  }

  .filter-country__button {
    width: calc(100% - 15px);
    font-size: 20px;
    letter-spacing: 0;
    padding-top: 37px;
    padding-bottom: 40px;
    border-radius: 20px;
    padding-left: 5px;
    margin-left: 3px;
  }

  .filter-country__button-close {
    width: 22px;
    height: 22px;
    margin-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .filter-country {
    background: linear-gradient(to bottom, transparent 40px, $grey 40px, $special-grey-light 100%);
    padding-top: 70px;

    .container {
      padding-top: 37px;
      display: grid;
      grid-template-rows: repeat(3, max-content);
    }

    &--open {
      margin-top: 20px;
      padding-top: 53px;

      .filter-country__list-wrapper {
        display: grid;
        grid-template-rows: repeat(10, max-content);
        grid-template-columns: repeat(5, 252px);
        margin-bottom: 31px;
        margin-left: 32px;
      }

      .filter-country__title {
        width: 300px;
      }

      .filter-country__toggle {
        margin-left: 10px;
      }

      .filter-country__letter-list {
        margin-top: 13px;
        margin-bottom: 35px;
        margin-left: 0;

        &:nth-child(1) {
          grid-row: 1/2;
          grid-column: 1/-1;
        }

        &:nth-child(2) {
          grid-row: 3/4;
          grid-column: 1/-1;
          margin-bottom: 33px;
        }

        &:nth-child(3) {
          grid-row: 5/6;
          grid-column: 1/-1;
        }

        &:nth-child(4) {
          grid-row: 7/8;
          grid-column: 1/-1;
          margin-bottom: 37px;
        }

        &:nth-child(5) {
          grid-row: 9/10;
          grid-column: 1/-1;
          margin-top: 8px;
          margin-bottom: 43px;
        }
      }

      .filter-country__list {
        display: block;
        width: max-content;
        margin-left: 0;
        margin-bottom: 32px;

        &:nth-child(6) {
          grid-row: 2/3;
          grid-column: 1/2;
        }

        &:nth-child(7) {
          grid-row: 2/3;
          grid-column: 2/3;
        }

        &:nth-child(8) {
          grid-row: 2/3;
          grid-column: 3/4;
          margin-left: 2px;
        }

        &:nth-child(9) {
          grid-row: 2/3;
          grid-column: 4/5;
          margin-left: 2px;
        }

        &:nth-child(10) {
          grid-row: 2/3;
          grid-column: 5/6;
          margin-left: -5px;
        }

        &:nth-child(11) {
          grid-row: 4/5;
          grid-column: 1/2;
        }

        &:nth-child(12) {
          grid-row: 4/5;
          grid-column: 2/3;
          margin-top: -2px;
          margin-left: 1px;
        }

        &:nth-child(13) {
          grid-row: 4/5;
          grid-column: 3/4;
          margin-left: 2px;
        }

        &:nth-child(14) {
          grid-row: 4/5;
          grid-column: 4/5;
        }

        &:nth-child(15) {
          grid-row: 4/5;
          grid-column: 5/6;
          margin-top: 2px;
        }

        &:nth-child(16) {
          grid-row: 6/7;
          grid-column: 1/2;
          margin-top: 2px;
          margin-bottom: 68px;
        }

        &:nth-child(17) {
          grid-row: 6/7;
          grid-column: 2/3;
        }

        &:nth-child(18) {
          grid-row: 6/7;
          grid-column: 3/4;
          margin-left: 2px;
        }

        &:nth-child(19) {
          grid-row: 6/7;
          grid-column: 4/5;
          margin-top: -1px;
        }

        &:nth-child(20) {
          grid-row: 6/7;
          grid-column: 5/6;
        }

        &:nth-child(21) {
          grid-row: 8/9;
          grid-column: 1/2;
          margin-left: 2px;
        }

        &:nth-child(22) {
          grid-row: 8/9;
          grid-column: 2/3;
        }

        &:nth-child(23) {
          grid-row: 8/9;
          grid-column: 3/4;
          margin-left: 2px;
        }

        &:nth-child(24) {
          grid-row: 8/9;
          grid-column: 4/5;
        }

        &:nth-child(25) {
          grid-row: 8/9;
          grid-column: 5/6;
        }

        &:nth-child(26) {
          grid-row: 10/11;
          grid-column: 1/2;
        }

        &:nth-child(27) {
          grid-row: 10/11;
          grid-column: 2/3;
        }

        &:nth-child(28) {
          grid-row: 10/11;
          grid-column: 3/4;
          margin-left: 2px;
        }

        &:nth-child(29) {
          grid-row: 10/11;
          grid-column: 4/5;
          margin-left: 2px;
        }

        &:nth-child(30) {
          grid-row: 10/11;
          grid-column: 5/6;
        }
      }

      .filter-country__letter-item {
        padding-right: 0;
        text-align: left;

        &:last-child {
          margin-right: 0;
        }
      }

      .filter-country__group-list {
        margin-left: 22px;
      }

      .filter-country__group-item {
        margin-right: 28px;
      }
    }
  }

  .filter-country__letter-list {
    .filter-country__letter-item {
      &:last-child {
        position: relative;
        left: -8px;
      }
    }
  }

  .filter-country__title {
    display: block;
    font-size: 20px;
    line-height: 20px;
    grid-column: 1/2;
    grid-row: 1/-1;
  }

  .filter-country__title-image {
    width: 25px;
    height: 17px;
    margin-right: 20px;
  }

  .filter-country__toggle {
    grid-column: 3/4;
    grid-row: 1/-1;
    margin-left: 4px;
    margin-top: -1px;

    &:hover,
    &:focus {
      cursor: pointer;
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .filter-country__wrapper {
    margin-left: 17px;
    display: grid;
    grid-template-columns: 300px 750px 1fr;
    grid-template-rows: 1fr;
  }

  .filter-country__list-wrapper {
    display: none;
  }

  .filter-country__group-list {
    grid-column: 2/3;
    grid-row: 1/-1;
    margin-left: 22px;
  }

  .filter-country__group-item {
    margin-right: 32px;

    &:hover,
    &:focus {
      cursor: pointer;
      opacity: 0.6;
    }

    &:active {
      opacity: 1;
    }
  }

  .filter-country__button {
    width: 100%;
    margin-left: -5px;

    &:hover,
    &:focus {
      background-color: $standart-blue-grey-dark;
    }

    &:active {
      .filter-country__button-text,
      .filter-country__button-close {
        opacity: 0.3;
      }
    }
  }

  .filter-country__link {
    &:hover,
    &:focus {
      cursor: pointer;
      color: $blue-light;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
