.page-footer {
  background-color: $white;
  position: relative;
  z-index: 2;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -34px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 18px;
  }
}

.page-footer__text {
  line-height: 16px;
  color: $special-grey;
  font-weight: 400;
  margin-top: 10px;
}

.page-footer__item {
  width: 45px;
  height: 45px;
  background-color: $yellow;
  border-radius: 50%;

  &:nth-child(1) {
    .page-footer__image {
      width: 11px;
      height: 21px;
      margin-top: 12px;
      margin-left: 17px;
    }
  }

  &:nth-child(2) {
    .page-footer__image {
      width: 23px;
      height: 12px;
      margin-top: 17px;
      margin-left: 11px;
    }
  }

  &:nth-child(3) {
    .page-footer__image {
      width: 18px;
      height: 18px;
      margin-top: 14px;
      margin-left: 14px;
    }
  }
}

.page-footer__academy-logo {
  width: 28px;
  height: 34px;
  margin-top: 4px;
}

.page-footer__list,
.page-footer__copyright-wrapper {
  display: flex;
}

.page-footer__copyright-wrapper {
  width: 100%;
  justify-content: space-between;
  position: relative;
}

@media (max-width: $table-width - 1px) {
  .page-footer__logo {
    margin-bottom: 34px;
  }

  .page-footer__list {
    margin-left: -1px;
    margin-bottom: 46px;
  }

  .page-footer__copyright-wrapper {
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $basic-grey;
      top: -10px;
    }
  }
}

@media (min-width: $table-width) {
  .page-footer {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;

    &--inner-page {
      margin-top: -56px;
      border-top-left-radius: 56px;
      border-top-right-radius: 56px;

      .page-footer__logo {
        margin-top: 8px;
        margin-left: -1px;
      }

      .page-footer__text {
        margin-top: 10px;
      }

      .page-footer__academy-logo {
        margin-top: 8px;
      }
    }

    .container {
      padding-top: 44px;
      padding-bottom: 18px;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .page-footer__logo {
    margin-top: 1px;
    width: 156px;
  }

  .page-footer__text {
    font-size: 20px;
    line-height: 20px;
    margin-top: 4px;
  }

  .page-footer__item {
    width: 62px;
    height: 62px;

    &:nth-child(1) {
      .page-footer__image {
        width: 14px;
        height: 26px;
        margin-top: 17px;
        margin-left: 24px;
      }
    }

    &:nth-child(2) {
      .page-footer__image {
        width: 27px;
        height: 18px;
        margin-top: 22px;
        margin-left: 17px;
      }
    }

    &:nth-child(3) {
      .page-footer__image {
        width: 21px;
        height: 21px;
        margin-top: 20px;
        margin-left: 20px;
      }
    }
  }

  .page-footer__copyright-wrapper {
    width: 154px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    .container {
      padding: 0 60px;
      padding-top: 44px;
      padding-bottom: 18px;
    }

    &--inner-page {
      margin-top: -54px;

      .container {
        padding-top: 40px;
      }
    }
  }

  .page-footer__item {
    &:hover,
    &:focus {
      background-color: $yellow-dark;
    }

    &:active {
      .page-footer__image {
        opacity: 0.3;
      }
    }
  }

  .page-footer__copyright-wrapper {
    &:hover,
    &:focus {
      cursor: pointer;
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
