.cart-profile {
  .container {
    width: 270px;
  }
}

.cart-profile__list {
  margin-bottom: 18px;
}

.cart-profile__item {
  background-color: $white;
  margin-bottom: 10px;
  display: grid;
  border-radius: 20px;
  grid-template-columns: 5fr 10fr 1fr;
  grid-template-rows: repeat(6, max-content);
  padding-top: 13px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 23px;

  &:nth-child(2) {
    .cart-profile__hashtag-list {
      margin-bottom: 15px;
    }

    .cart-profile__visit-wrapper {
      margin-bottom: 7px;

      .cart-profile__text {
        margin-bottom: 20px;
      }
    }

    .cart-profile__transport-wrapper {
      margin-bottom: 18px;

      .cart-profile__text {
        margin-bottom: 19px;
      }
    }
  }

  &:nth-child(3) {
    .cart-profile__visit-wrapper {
      margin-bottom: 5px;
    }

    .cart-profile__transport-wrapper {
      margin-bottom: 20px;

      .cart-profile__text {
        margin-bottom: 15px;
      }
    }
  }

  &:nth-child(4) {
    .cart-profile__visit-wrapper {
      margin-bottom: 8px;
    }

    .cart-profile__transport-wrapper {
      margin-bottom: 20px;

      .cart-profile__text {
        margin-bottom: 16px;
      }
    }

    .cart-profile__level-wrapper {
      .cart-profile__text {
        margin-bottom: 9px;
        margin-left: 7px;
      }
    }

    .cart-profile__image-wrapper {
      margin-right: 7px;
    }

    .cart-profile__name-link {
      &::after {
        background-color: $green;
      }
    }
  }
}

.cart-profile__photo-link {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  grid-row: 1/3;
  grid-column: 1/2;
  margin-top: 2px;
  position: relative;
  z-index: 0;
  margin-bottom: 12px;
}

.cart-profile__name-link {
  grid-row: 1/2;
  grid-column: 2/4;
  width: 78px;
  margin-left: 15px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $dark-ping;
    top: 10px;
    right: -67px;
  }
}

.cart-profile__like {
  grid-row: 2/3;
  grid-column: 2/4;
  display: flex;
  align-items: center;
  position: relative;
  top: -10px;
  left: -20px;
}

.cart-profile__like-button {
  z-index: 1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  display: flex;
  padding: 0;
  margin-right: 5px;
}

.cart-profile__like-text {
  color: $blue-light;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.cart-profile__like-image {
  width: 30px;
  height: 31px;
}

.cart-profile__like-circle {
  fill: transparent;
}

.cart-profile__hashtag-list {
  display: flex;
  flex-wrap: wrap;
  grid-row: 3/4;
  grid-column: 1/-1;
  margin-left: 7px;
  width: 176px;
  margin-bottom: 13px;
}

.cart-profile__hashtag-item {
  color: $special-grey;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  margin-right: 5px;
}

.cart-profile__text {
  color: $special-grey;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  display: block;
}

.cart-profile__visit-wrapper {
  grid-row: 4/5;
  grid-column: 1/-1;
  margin-bottom: 2px;

  .cart-profile__text {
    margin-left: 7px;
    position: relative;
    margin-bottom: 22px;

    &::before {
      position: absolute;
      content: "";
      width: 15px;
      height: 1px;
      background-color: $grey;
      top: 10px;
      left: -25px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 138px;
      height: 1px;
      background-color: $grey;
      top: 10px;
      right: -18px;
    }
  }
}

.cart-profile__visit-list {
  margin-left: 7px;
}

.cart-profile__visit-item {
  display: flex;
  margin-bottom: 9px;

  picture {
    max-height: 18px;
  }
}

.cart-profile__visit-name {
  color: $blue-light;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  display: block;
  margin-left: 13px;
}

.cart-profile__visit-image {
  width: 26px;
  height: 18px;
}

.cart-profile__transport-wrapper {
  grid-row: 5/6;
  grid-column: 1/3;
  margin-bottom: 21px;

  .cart-profile__text {
    margin-left: 9px;
    position: relative;
    margin-bottom: 17px;

    &::before {
      position: absolute;
      content: "";
      width: 15px;
      height: 1px;
      background-color: $grey;
      top: 10px;
      left: -25px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 92px;
      height: 1px;
      background-color: $grey;
      top: 10px;
      right: 15px;
    }
  }
}

.cart-profile__transport-list {
  display: flex;
  margin-left: 3px;
}

.cart-profile__transport-item {
  width: 32px;
  height: 32px;
  background-color: $grey;
  border-radius: 50%;
  margin-right: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-profile__transport-image {
  &--plane {
    width: 14px;
    height: 16px;
  }

  &--bus {
    width: 16px;
    height: 19px;
  }

  &--bicycle {
    width: 18px;
    height: 17px;
  }

  &--run {
    width: 16px;
    height: 19px;
  }
}

.cart-profile__level-wrapper {
  grid-row: 5/6;
  grid-column: 3/4;
  display: flex;
  flex-direction: column;

  .cart-profile__text {
    margin-bottom: 11px;
    margin-left: 3px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 12px;
      height: 1px;
      background-color: $grey;
      top: 10px;
      right: -17px;
    }
  }
}

.cart-profile__level-image1 {
  width: 45px;
  height: 45px;
  margin-right: 3px;
}

.cart-profile__level-image2 {
  display: none;
}

.cart-profile__button {
  color: $blue-light;
  font-family: inherit;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  width: calc(100% - 4px);
  grid-row: 6/7;
  grid-column: 1/-1;
  border: none;
  padding-top: 12px;
  padding-bottom: 11px;
  border-radius: 20px;
  background-color: $yellow;
  margin-left: 2px;
}

.cart-profile__page-link {
  width: 100%;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: $blue-light;
  margin-bottom: 22px;
  display: flex;
  align-items: center;
}

.cart-profile__page-image {
  margin-left: 22.1%;
  width: 18px;
  height: 18px;
  margin-right: 15px;
}

.cart-profile__button-wrapper {
  display: flex;
  justify-content: space-between;
}

.cart-profile__page-list {
  display: none;
}

.cart-profile__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cart-profile__page-button {
  width: 49.5%;
  border: none;
  height: 51px;
  background-color: $white;
  padding-top: 5px;

  &:nth-child(1) {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 8px;
  }

  &:nth-child(2) {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 8px;

    .cart-profile__button-image {
      transform: rotate(180deg);
    }
  }
}

.cart-profile__button-image {
  width: 10px;
  height: 18px;
}

@media (min-width: $table-width) {
  .cart-profile {
    margin-bottom: 40px;

    .container {
      width: 688px;
    }
  }

  .cart-profile__list {
    margin-bottom: 47px;
  }

  .cart-profile__item {
    margin-bottom: 42px;
    grid-template-columns: 190px 150px 5fr 1fr;
    grid-template-rows: 50px 94px 64px max-content;
    padding-top: 29px;
    padding-left: 35px;
    padding-right: 22px;
    padding-bottom: 23px;

    &:nth-child(2) {
      padding-bottom: 25px;

      .cart-profile__hashtag-list {
        margin-bottom: 0;
      }

      .cart-profile__hashtag-item {
        &:nth-child(4),
        &:nth-child(5) {
          margin-top: -35px;
        }
      }

      .cart-profile__visit-wrapper {
        margin-bottom: 0;

        .cart-profile__text {
          margin-bottom: 22px;
        }
      }

      .cart-profile__transport-wrapper {
        margin-bottom: 0;

        .cart-profile__text {
          margin-bottom: 0;
        }
      }

      .cart-profile__name-link {
        &::after {
          right: 26px;
        }
      }
    }

    &:nth-child(3) {
      padding-bottom: 25px;

      .cart-profile__hashtag-item {
        &:nth-child(4),
        &:nth-child(5) {
          margin-top: -30px;
        }
      }

      .cart-profile__visit-wrapper {
        margin-bottom: 0;
      }

      .cart-profile__transport-wrapper {
        margin-bottom: 0;

        .cart-profile__text {
          margin-bottom: 0;
        }
      }
    }

    &:nth-child(4) {
      padding-bottom: 25px;
      margin-bottom: 0;

      .cart-profile__hashtag-item {
        &:nth-child(3),
        &:nth-child(4) {
          margin-top: -30px;
        }
      }

      .cart-profile__visit-wrapper {
        margin-bottom: 0;
      }

      .cart-profile__transport-wrapper {
        margin-bottom: 0;

        .cart-profile__text {
          margin-bottom: 0;
        }
      }

      .cart-profile__level-wrapper {
        .cart-profile__text {
          margin-bottom: 0;
          margin-left: 0;
        }
      }

      .cart-profile__image-wrapper {
        margin-right: 0;
      }

      .cart-profile__name-link {
        &::after {
          right: -35px;
        }
      }
    }
  }

  .cart-profile__photo-link {
    grid-column: 1/2;
    grid-row: 1/4;
    width: 190px;
    height: 190px;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .cart-profile__photo {
    border-radius: 20px;
  }

  .cart-profile__name-link {
    grid-column: 2/4;
    grid-row: 1/2;
    margin-left: 32px;
    width: 221px;

    &::after {
      width: 8px;
      height: 8px;
      top: 14px;
      right: 2px;
    }
  }

  .cart-profile__like {
    grid-column: 3/4;
    grid-row: 3/4;
    margin-left: 50px;
    margin-top: 4px;
    margin-bottom: 0;
  }

  .cart-profile__like-button {
    width: 50px;
    height: 50px;
  }

  .cart-profile__like-text {
    font-size: 20px;
    line-height: 20px;
  }

  .cart-profile__like-image {
    width: 50px;
    height: 51px;
  }

  .cart-profile__hashtag-list {
    grid-column: 2/4;
    grid-row: 2/3;
    width: 226px;
    margin-left: 37px;
  }

  .cart-profile__hashtag-item {
    font-size: 20px;
    line-height: 23px;

    &:nth-child(5),
    &:nth-child(6) {
      margin-top: -28px;
    }
  }

  .cart-profile__visit-wrapper {
    grid-column: 1/-1;
    grid-row: 4/5;

    .cart-profile__text {
      margin-bottom: 22px;
      margin-top: 8px;
      margin-left: 48px;

      &::before {
        width: 71px;
        height: 1px;
        top: 10px;
        left: -85px;
      }

      &::after {
        width: 498px;
        height: 1px;
        top: 10px;
        right: -22px;
      }
    }
  }

  .cart-profile__visit-list {
    display: flex;
    margin-left: 0;
  }

  .cart-profile__visit-item {
    margin-bottom: 0;
    margin-right: 29px;

    &:nth-child(2),
    &:nth-child(3) {
      .cart-profile__visit-image {
        margin-left: -2px;
        margin-right: 12px;
      }
    }

    picture {
      max-height: 24px;
      display: flex;
    }
  }

  .cart-profile__visit-image {
    width: 35px;
    height: 24px;
    margin-right: 10px;
    margin-left: 2px;
    margin-top: -2px;
  }

  .cart-profile__visit-name {
    font-size: 20px;
    line-height: 20px;
    margin-left: 0;
  }

  .cart-profile__transport-wrapper {
    grid-column: 4/5;
    grid-row: 1/3;

    .cart-profile__text {
      display: none;
    }
  }

  .cart-profile__transport-list {
    flex-direction: column;
    margin-top: 4px;
    margin-left: 15px;
  }

  .cart-profile__transport-item {
    background-color: transparent;

    &:nth-child(3) {
      height: 24px;
      margin-bottom: 7px;
    }
  }

  .cart-profile__transport-image {
    &--plane {
      width: 20px;
      height: 22px;
    }

    &--bus {
      width: 21px;
      height: 24px;
    }

    &--bicycle {
      width: 27px;
      height: 25px;
    }

    &--run {
      width: 24px;
      height: 27px;
    }
  }

  .cart-profile__level-wrapper {
    grid-column: 4/5;
    grid-row: 3/4;
    margin-top: -8px;
    margin-right: 1px;

    .cart-profile__text {
      display: none;
    }
  }

  .cart-profile__level-image1 {
    display: none;
  }

  .cart-profile__level-image2 {
    display: block;
    width: 64px;
    height: 64px;
  }

  .cart-profile__image-wrapper {
    width: 60px;
    min-height: 60px;
  }

  .cart-profile__button {
    grid-column: 2/3;
    grid-row: 3/4;
    margin-left: 29px;
    font-size: 20px;
    line-height: 20px;
    border-radius: 25px;
    width: 100%;
    height: 50px;
  }

  .cart-profile__page-link {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 51px;
  }

  .cart-profile__page-image {
    margin-left: 36%;
    width: 26px;
    height: 26px;
    margin-right: 25px;
  }

  .cart-profile__button-wrapper {
    background-color: $white;
    border-radius: 20px;
    padding-top: 25px;
    padding-left: 28px;
    padding-bottom: 24px;
    padding-right: 26px;
    display: flex;
    justify-content: space-between;
  }

  .cart-profile__page-list {
    display: flex;
  }

  .cart-profile__page-item {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    &:nth-child(1) {
      background-color: $yellow;
    }
  }

  .cart-profile__page-number {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: $blue-light;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cart-profile__wrapper {
    width: max-content;
    justify-content: flex-start;
  }

  .cart-profile__page-button {
    width: 30px;
    background-color: transparent;

    &:nth-child(1) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-right: 12px;
    }

    &:nth-child(2) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .cart-profile {
    margin-bottom: 38px;
    margin-right: 45px;

    .container {
      padding-left: 60px;
      width: 950px;
    }
  }

  .cart-profile__list {
    margin-bottom: 63px;
  }

  .cart-profile__item {
    margin-bottom: 31px;
    grid-template-columns: 3fr 150px 1fr 2fr 1fr;
    grid-template-rows: 75px max-content 64px 48px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;

    &:hover,
    &:focus-within {
      filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.16));

      .cart-profile__photo-link {
        transform: scale(1.01);
      }
    }

    &:nth-child(1) {
      .cart-profile__like-circle {
        fill: $pink-light;
      }

      .cart-profile__like-button {
        &:hover,
        &:focus {
          .cart-profile__like-circle {
            fill: $pink-normal;
          }
        }

        &:active {
          .cart-profile__like-group {
            opacity: 0.3;
          }
        }
      }
    }

    &:nth-child(2) {
      padding-bottom: 0;

      .cart-profile__hashtag-item {
        &:nth-child(4),
        &:nth-child(5) {
          margin-top: -27px;
        }
      }
    }

    &:nth-child(3) {
      padding-bottom: 0;

      .cart-profile__hashtag-item {
        &:nth-child(4),
        &:nth-child(5) {
          margin-top: -23px;
        }
      }
    }

    &:nth-child(4) {
      padding-bottom: 0;

      .cart-profile__hashtag-item {
        &:nth-child(3),
        &:nth-child(4) {
          margin-top: -23px;
        }
      }
    }
  }

  .cart-profile__photo-link {
    width: 285px;
    height: 285px;
    grid-row: 1/-1;
    grid-column: 1/2;
    margin: 0;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .cart-profile__photo {
    border-radius: 0;
  }

  .cart-profile__name-link {
    grid-row: 1/2;
    grid-column: 2/4;
    margin-top: 43px;
    margin-bottom: 0;
    margin-left: 10px;

    &::after {
      top: 15px;
      right: auto;
      left: -25px;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .cart-profile__like {
    grid-row: 3/4;
    grid-column: 3/4;
    margin-top: 25px;
    margin-bottom: -7px;
    margin-left: 23px;
    width: 105px;
  }

  .cart-profile__like-button {
    width: 50px;
    height: 50px;

    &:hover,
    &:focus {
      cursor: pointer;

      .cart-profile__like-circle {
        fill: $special-grey-light;
      }

      .cart-profile__like-group {
        opacity: 1;
      }
    }

    &:active {
      .cart-profile__like-group {
        opacity: 0.1;
      }
    }
  }

  .cart-profile__like-text {
    font-size: 20px;
    line-height: 20px;
  }

  .cart-profile__like-image {
    width: 50px;
    height: 51px;
  }

  .cart-profile__hashtag-list {
    grid-row: 2/3;
    grid-column: 2/4;
    margin-left: 10px;
    margin-top: 20px;
  }

  .cart-profile__hashtag-item {
    &:nth-child(5),
    &:nth-child(6) {
      margin-top: -17px;
    }
  }

  .cart-profile__visit-wrapper {
    grid-row: 1/3;
    grid-column: 4/6;
    margin-top: 53px;
    margin-left: 65px;

    .cart-profile__text {
      display: none;
    }
  }

  .cart-profile__visit-image {
    margin: 0;
  }

  .cart-profile__visit-name {
    margin-left: 18px;
  }

  .cart-profile__visit-item {
    margin-bottom: 12px;
    margin-right: 0;

    &:nth-child(2),
    &:nth-child(3) {
      .cart-profile__visit-image {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  .cart-profile__visit-list {
    flex-direction: column;
    margin-left: -5px;
  }

  .cart-profile__transport-wrapper {
    grid-row: 3/4;
    grid-column: 4/5;
    margin-left: 47px;
    margin-top: 8px;
  }

  .cart-profile__transport-list {
    flex-direction: row;
    margin-left: 8px;
    margin-top: 17px;
  }

  .cart-profile__transport-item {
    position: relative;

    &:nth-child(1) {
      left: -1px;
    }

    &:nth-child(2) {
      left: 2px;
      top: -1px;
    }

    &:nth-child(3) {
      left: 2px;
      top: 3px;
    }

    &:nth-child(4) {
      left: -1px;
      top: -1px;
    }
  }

  .cart-profile__level-wrapper {
    grid-row: 3/4;
    grid-column: 5/6;
    margin-left: 6px;
    position: relative;
    top: 16px;
  }

  .cart-profile__button {
    grid-row: 3/4;
    grid-column: 2/3;
    border-radius: 25px;
    margin-left: 3px;
    margin-top: 14px;

    &:hover,
    &:focus {
      background-color: $yellow-dark;
    }

    &:active {
      .cart-profile__button-text {
        opacity: 0.3;
      }
    }
  }

  .cart-profile__page-link {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 70px;

    &:hover,
    &:focus {
      .cart-profile__page-image {
        opacity: 0.6;
      }
    }

    &:active {
      .cart-profile__page-image {
        opacity: 0.3;
      }
    }
  }

  .cart-profile__page-wrapper {
    margin-bottom: 14px;
  }

  .cart-profile__wrapper {
    margin-right: 8px;
  }

  .cart-profile__page-button {
    &:hover,
    &:focus {
      cursor: pointer;

      .cart-profile__button-image {
        opacity: 0.6;
      }
    }

    &:active {
      .cart-profile__button-image {
        opacity: 0.3;
      }
    }
  }

  .cart-profile__page-item {
    &:hover,
    &:focus {
      .cart-profile__page-number {
        opacity: 0.6;
      }
    }

    &:active {
      background-color: $yellow;

      .cart-profile__page-number {
        opacity: 1;
      }
    }
  }
}
