.filter-country {
  background-color: $special-grey-light;
}

.filter-country__title {
  color: $special-blue;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
