.filter-country {
  background-color: $special-grey-light;
}

@media (min-width: $desktop-width) {
  .filter-country {
    background-color: $grey;
  }
}

.filter-country__title {
  color: $special-blue;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

@media (min-width: $table-width) and (max-width: $desktop-width - 1px) {
  .filter-country {
    .container {
      display: grid;
      grid-template-columns: 80% 20%;
      grid-template-rows: repeat(3, max-content);
    }
  }
}

@media (min-width: $table-width) and (max-width: $desktop-width - 1px) {
  .filter-country__wrapper {
    grid-row: 1/2;
    grid-column: 1/-1;
  }

  .filter-country__list-wrapper {
    grid-row: 2/3;
    grid-column: 1/-1;
  }

  .filter-country__button {
    grid-row: 3/4;
    grid-column: 1/-1;
  }
}

@media (min-width: $desktop-width) {
  .filter-country {
    .container {
      display: grid;
      grid-template-rows: repeat(3, max-content);
    }
  }
}

@media (max-width: $table-width - 1px) {
  .filter-country__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .filter-country__title {
    width: 80%;
  }

  .filter-country__toggle {
    width: 20%;
  }
}

@media (min-width: $table-width) and (max-width: $desktop-width - 1px) {
  .filter-country__wrapper {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr;
  }

  .filter-country__title {
    display: none;
  }

  .filter-country__group-list {
    grid-column: 1/2;
    grid-row: 1/-1;
  }

  .filter-country__toggle {
    grid-column: 2/3;
    grid-row: 1/-1;
  }
}

@media (min-width: $table-width) {
  .filter-country__group-list {
    display: flex;
  }

  .filter-country__group-item {
    margin-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .filter-country__wrapper {
    display: grid;
    grid-template-columns: 300px 750px 1fr;
    grid-template-rows: 1fr;
  }

  .filter-country__title {
    grid-column: 1/2;
    grid-row: 1/-1;
  }

  .filter-country__group-list {
    grid-column: 2/3;
    grid-row: 1/-1;
  }

  .filter-country__toggle {
    grid-column: 3/4;
    grid-row: 1/-1;
  }
}

@media (min-width: $table-width) {
  .filter-country__toggle-text{
    &:nth-child(2) {
      display: block;
    }
  }
}

.filter-country__toggle-text{
  display: none;
}

.filter-country__button {
  width: 100%;
}

@media (max-width: $desktop-width - 1px) {
  .filter-country__list {
    &:not(:nth-child(6)) {
      display: none;
    }
  }
}

.filter-country__letter-list {
  display: table;
  border-collapse: collapse;
}

.filter-country__letter-item {
  width: 43px;
  height: 43px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

@media (max-width: $table-width - 1px) and (max-width: $desktop-width - 1px) {
  .filter-country__letter-item {
    background-color: $white;
    border-left: 1px solid $black;
    border-right: 1px solid $black;
    border-bottom: 1px solid $black;
  }

  .filter-country__letter-list {
    &:nth-child(1) {
      .filter-country__letter-item {
        border-top: 1px solid $black;
      }
    }
  }
}

@media (min-width: $table-width) and (max-width: $desktop-width - 1px) {
  .filter-country__letter-item {
    width: 63px;
    height: 63px;
  }

  .filter-country__letter-list {
    display: grid;
    grid-template-columns: repeat(5, 63px);
  }
}

@media (min-width: $table-width) and (max-width: $desktop-width - 1px) {
  .filter-country__list-wrapper {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: repeat(5, min-content);
  }

  .filter-country__letter-list {
    grid-column: 1/2;
  }

  .filter-country__list {
    grid-column: 2/3;
    grid-row: 1/-1;
  }
}

@media (min-width: $desktop-width) {
  .filter-country__list-wrapper {
    display: grid;
    grid-template-rows: repeat(10, max-content);
    grid-template-columns: repeat(5, 1fr);
  }

  .filter-country__letter-list {
    &:nth-child(1) {
      grid-row: 1/2;
      grid-column: 1/-1;
    }
  }

  .filter-country__list {
    &:nth-child(6) {
      grid-row: 2/3;
      grid-column: 1/2;
    }

    &:nth-child(7) {
      grid-row: 2/3;
      grid-column: 2/3;
    }

    &:nth-child(8) {
      grid-row: 2/3;
      grid-column: 3/4;
    }

    &:nth-child(9) {
      grid-row: 2/3;
      grid-column: 4/5;
    }

    &:nth-child(10) {
      grid-row: 2/3;
      grid-column: 5/6;
    }
  }

  .filter-country__letter-list {
    &:nth-child(2) {
      grid-row: 3/4;
      grid-column: 1/-1;
    }
  }

  .filter-country__list {
    &:nth-child(11) {
      grid-row: 4/5;
      grid-column: 1/2;
    }

    &:nth-child(12) {
      grid-row: 4/5;
      grid-column: 2/3;
    }

    &:nth-child(13) {
      grid-row: 4/5;
      grid-column: 3/4;
    }

    &:nth-child(14) {
      grid-row: 4/5;
      grid-column: 4/5;
    }

    &:nth-child(15) {
      grid-row: 4/5;
      grid-column: 5/6;
    }
  }

  .filter-country__letter-list {
    &:nth-child(3) {
      grid-row: 5/6;
      grid-column: 1/-1;
    }
  }

  .filter-country__list {
    &:nth-child(16) {
      grid-row: 6/7;
      grid-column: 1/2;
    }

    &:nth-child(17) {
      grid-row: 6/7;
      grid-column: 2/3;
    }

    &:nth-child(18) {
      grid-row: 6/7;
      grid-column: 3/4;
    }

    &:nth-child(19) {
      grid-row: 6/7;
      grid-column: 4/5;
    }

    &:nth-child(20) {
      grid-row: 6/7;
      grid-column: 5/6;
    }
  }

  .filter-country__letter-list {
    &:nth-child(4) {
      grid-row: 7/8;
      grid-column: 1/-1;
    }
  }

  .filter-country__list {
    &:nth-child(21) {
      grid-row: 8/9;
      grid-column: 1/2;
    }

    &:nth-child(22) {
      grid-row: 8/9;
      grid-column: 2/3;
    }

    &:nth-child(23) {
      grid-row: 8/9;
      grid-column: 3/4;
    }

    &:nth-child(24) {
      grid-row: 8/9;
      grid-column: 4/5;
    }

    &:nth-child(25) {
      grid-row: 8/9;
      grid-column: 5/6;
    }
  }

  .filter-country__letter-list {
    &:nth-child(5) {
      grid-row: 9/10;
      grid-column: 1/-1;
    }
  }

  .filter-country__list {
    &:nth-child(26) {
      grid-row: 10/11;
      grid-column: 1/2;
    }

    &:nth-child(27) {
      grid-row: 10/11;
      grid-column: 2/3;
    }

    &:nth-child(28) {
      grid-row: 10/11;
      grid-column: 3/4;
    }

    &:nth-child(29) {
      grid-row: 10/11;
      grid-column: 4/5;
    }

    &:nth-child(30) {
      grid-row: 10/11;
      grid-column: 5/6;
    }
  }
}
