$white: #ffffff;
$blue: #161C35;
$orange: #FF8D30;
$orange-light: #FFA530;
$yellow-dark: #FFBD30;
$yellow: #FFD74B;
$special-blue: #192144;
$grey: #EDEFF6;
$special-grey: #444444;
$blue-light: #1D2E5B;
$grey-light: #E6E8F1;
$blue-dark: #132576;
$special-blue-light: #1D2E5B;
