$white: #ffffff;
$black: #000000;
$blue: #161c35;
$orange: #ff8d30;
$orange-light: #ffa530;
$yellow-dark: #ffbd30;
$yellow: #ffd74b;
$special-blue: #192144;
$grey: #edeff6;
$special-grey: #444444;
$blue-light: #1d2e5b;
$grey-light: #e6e8f1;
$blue-dark: #132576;
$special-blue-dark: #182044;
$blue-grey-light: #dfe3f0;
$blue-grey-dark: #d4d9eb;
$special-grey-light: #e2e5f2;
$dark-ping: #f97676;
$super-bark-blue: #121936;
$super-grey-light: #e1e3e9;
$basic-grey: #f2f2f2;
$basic-grey-light: #cccccc;
$green: #81e31e;
$basic-grey-normal: #cbced9;
$basic-grey-dark: #d6d9e6;
$orange-normal: #ff5c23;
$special-yellow: #f3c72b;
$pink-light: #f9eaea;
$grey-normal: #d6daed;
