$white: #ffffff;
$black: #000000;
$blue: #161c35;
$orange: #ff8d30;
$orange-light: #ffa530;
$yellow-dark: #ffbd30;
$yellow: #ffd74b;
$special-blue: #192144;
$grey: #edeff6;
$special-grey: #444444;
$blue-light: #1d2e5b;
$grey-light: #e6e8f1;
$blue-dark: #132576;
$special-blue-dark: #182044;
$blue-grey-light: #dfe3f0;
$blue-grey-dark: #d4d9eb;
$special-grey-light: #e2e5f2;
