.container {
  margin: 0 auto;
  padding: 0 25px;
  position: relative;
}

@media (min-width: $table-width) {
  .container {
    padding: 0 40px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1320px;
    padding: 0 60px;
  }
}
