.page-main {
  &--catalog {
    background-color: $grey;
    padding-bottom: 79px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    &--catalog {
      margin-top: -50px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      justify-content: center;
    }
  }
}
