.direction-form {
  background: linear-gradient(to bottom, transparent 33px, $grey 33px, $grey 100%);
  z-index: 1;
  margin-top: -53px;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 59px;
  }
}

.direction-form__main-title {
  width: 100%;
  margin-bottom: 41px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 214px;
    height: 5px;
    background-color: $orange;
    border-radius: 4px;
    left: 0;
    bottom: -19px;
  }
}

.direction-form__level-wrapper,
.direction-form__person-photo {
  width: 100px;
  height: 100px;
  background-color: $black;
  border-radius: 50%;
}

.direction-form__level-wrapper {
  margin-left: 17px;
  margin-bottom: 18px;
}

.direction-form__person-photo {
  margin: 0;
  margin-right: 18px;
}

.direction-form__person-text {
  display: none;
}

.direction-form__button {
  color: $blue;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
  width: 100%;
  border: none;
  text-transform: uppercase;
  background-color: $blue-grey-light;
  padding-top: 10px;
  padding-bottom: 12px;
  border-radius: 25px;
  margin-bottom: 24px;
}

.direction-form__form {
  width: 100%;
}

.direction-form__title {
  display: block;
  color: $blue-light;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  padding-inline-start: 17px;
  padding-inline-end: 17px;
}

.direction-form__group {
  border: 1px solid $basic-grey-normal;
  border-radius: 10px;
}

.direction-form__hashtag-group {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  padding-block-start: 14px;
  padding-block-end: 20px;
  margin-bottom: 16px;
}

.direction-form__hashtag-text {
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  color: $special-grey;
  opacity: 0.6;
  line-height: 18px;
  width: 100%;
  border: none;
  background-color: transparent;
}

.direction-form__transport-group {
  padding-block-end: 15px;
}

.direction-form__transport-list {
  display: flex;
  justify-content: center;
}

.direction-form__transport-item {
  width: 32px;
  height: 32px;
  background-color: $white;
  border-radius: 50%;
}

@media (min-width: $table-width) {
  .direction-form__group,
  .direction-form__title,
  .direction-form__wrapepr {
    transform: rotate(180deg);
  }

  .direction-form__main-title {
    order: 0;
  }

  .direction-form__level-wrapper {
    width: 15%;
    order: 1;
  }

  .direction-form__person-photo {
    width: 15%;
    order: 3;
  }

  .direction-form__button-wrapper {
    order: 4;
  }

  .direction-form__hashtag {
    width: 70%;
    order: 2;
  }

  .direction-form__transport {
    order: 5;
  }
}

@media (min-width: $desktop-width) {
  .direction-form__button {
    width: 190px;
  }

  .direction-form__button-text {
    display: none;
  }

  .direction-form__level-wrapper {
    margin-right: 10px;
    width: 15%;
    order: 1;
  }

  .direction-form__main-title {
    order: 0;
    width: 60%;
  }

  .direction-form__person-photo {
    width: 15%;
    order: 2;
  }

  .direction-form__button-wrapper {
    width: 100%;
    order: 3;
    text-align: right;
  }

  .direction-form__hashtag {
    width: 60%;
    order: 4;

    .direction-form__title {
      text-align: right;
    }
  }

  .direction-form__transport {
    width: 30%;
    order: 5;
  }
}
