.plan {
  background-color: $blue-grey-light;
  color: $blue-light;
}

.plan__item {
  background-color: $white;
}

.plan__item-name,
.plan__item-number {
  font-weight: 700;
  line-height: 16px;
}

.plan__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.plan__button {
  color: $black;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  opacity: 0.3;
  border: none;
}

.plan__item {
  margin-bottom: 10px;
}

.plan__item-wrapper {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $desktop-width - 1px) {
    .plan__item-number {
      width: 5%;
    }

    .plan__item-name {
      width: 95%;
    }

    .plan__text {
      width: 100%;
    }
  }

  @media (min-width: $table-width) and (max-width: $desktop-width - 1px){
    .plan__item-name {
      order: -1;
    }

    .plan__text,
    .plan__button {
      width: 33%;
    }
  }

  @media (min-width: $desktop-width) {
    .plan__item-number {
      width: 3%;
    }

    .plan__item-name {
      width: 67%;
    }

    .plan__text,
    .plan__button {
      width: 10%;
    }
  }
}
