.plan {
  background-color: $blue-grey-light;
  color: $blue-light;
}

.plan__item {
  background-color: $white;
}

.plan__item-name {
  font-weight: 700;
  line-height: 16px;
}

.plan__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.plan__button {
  color: $black;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  opacity: 0.3;
  border: none;
}
